{% extends "layout.html" %}
{% block content %}
    <div class="about-container">
        <img src="{{ url_for('static', filename='about_page.jpg') }}" alt="About Image" class="about-image">
        <div class="about-text">
            <h1>About Page 🌟</h1>
            <p>Our Courses App is an innovative platform designed to enhance your learning experience by providing access to a wide range of courses across various subjects. 📚 Whether you're a student looking to supplement your education, a professional seeking to upskill, or a lifelong learner pursuing new interests, our app offers a user-friendly interface that makes finding and enrolling in courses easy and efficient. ✨ With features like interactive quizzes, progress tracking, and personalized learning paths, users can engage deeply with course content at their own pace. 🎓 Join a community of learners, connect with experienced instructors, and unlock your potential with our Courses App today! 🚀</p>
        </div>
    </div>
{% endblock content %}
